map $http_x_forwarded_proto $proxy_x_forwarded_proto {
  default $http_x_forwarded_proto;
  ''      $scheme;
}

map $http_upgrade $proxy_connection {
  default upgrade;
  '' close;
}

upstream flectra {
    server 0.0.0.0:7073 weight=1 fail_timeout=300s;
}
upstream flectra-im {
    server 0.0.0.0:7072 weight=1 fail_timeout=300s;
}

server {
    listen      {{ IP }}:19999;
    location / {
        auth_basic           "O-ops! Password required";
        auth_basic_user_file /usr/share/netdata_auth;
        proxy_pass http://127.0.0.1:19999;
    }
}

server {
    listen      80 default;
    server_name {{hostname}};
    client_max_body_size 200m;
    access_log  /var/log/nginx/flectra.access.log;
    error_log   /var/log/nginx/flectra.error.log;

    proxy_connect_timeout       600;
    proxy_send_timeout          600;
    proxy_read_timeout          600;
    send_timeout                600;
    keepalive_timeout    600;

    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss application/rss+xml text/javascript image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype image/bmp image/png image/gif image/jpeg image/jpg;

    # increase proxy buffer to handle some OpenERP web requests
    proxy_buffers 16 64k;
    proxy_buffer_size 128k;
    location / {
	proxy_pass    http://flectra;
	# force timeouts if the backend dies
	proxy_next_upstream error timeout invalid_header http_500 http_502 http_503;
	# Add Headers for odoo proxy mode
	# set headers
 	proxy_set_header X-Forwarded-Host $http_host;
 	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
 	proxy_set_header X-Forwarded-Proto $proxy_x_forwarded_proto;
 	proxy_set_header X-Real-IP $remote_addr;
	# by default, do not forward anything
	#proxy_redirect off;
    }
    location /longpolling {
    	 proxy_pass    http://flectra-im;
    }
    # cache some static data in memory for 60mins.
    # under heavy load this should relieve stress on the web interface a bit.
    location ~* /web/static/ {
        proxy_cache_valid 200 60m;
        proxy_buffering    on;
        expires 864000;
        proxy_pass http://flectra;
    }

    location /web/database {
        auth_basic           "O-ops! Password required";
        auth_basic_user_file /usr/share/nginx/flectra_pass;
        proxy_pass http://flectra;
    }

    location /pad {
      rewrite                /pad/(.*) /$1 break;
      rewrite                ^/pad$ /pad/ permanent;
      proxy_pass             http://127.0.0.1:9001/;
      proxy_redirect         / /pad/;
      proxy_set_header       Host $host;
      proxy_buffering off;
    }
}
